html, body {
	height: 100%
}
.container-fluid {
	display: table;
	width: 98%;
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	height: 100%;
}

.fat-row {
	margin-top: 40px;
	margin-bottom: 40px;
	height: 100px;
}

.fat-row div {
	height: 100%;
}

.fat-button{
	height: 100%;
}

.med-row {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100px;
}

.med-row div {
	height: 100%;
}
.med-button {
	height: 100%;
}

.med-small-row {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 70px;
}

.med-small-row div {
	height: 100%;
}
.med-small-button {
	height: 100%;
}

#footer {
	height: 60px;
	padding-top: 10px;
	background-color: #f5f5f5;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.btn-primary-border {
	border: 2px solid red;
}

.btn-unselected {
	opacity: 0.50
}

.slide.ng-enter, .slide.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.slide.ng-enter.ng-enter-active {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.slide.ng-enter.ng-leave-active {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.slide-left.ng-leave {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 3;
    position: absolute;
}

.slide-left.ng-leave-active {
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    -o-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
    opacity: 0;
    position: absolute;
}

.slide-left.ng-enter {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    -o-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
    opacity: 0;
    z-index: 1;
    position: absolute;
}

.slide-left.ng-enter-active {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    position: absolute;
}
