<div ng-controller="Knock as vm">
	<div class="container-fluid" style="padding-top: 80px">
		<div class="row fat-row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<button type="button" class="btn btn-lg btn-block btn-primary fat-button"
						ng-click="vm.goToRakeList()">
					Knock Rake
				</button>
			</div>
		</div>

		<div class="row fat-row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<button type="button" class="btn btn-lg btn-block btn-primary fat-button"
						ng-click="vm.goToVehicleSearch()">
						Knock Vehicle
				</button>
			</div>
		</div>


	</div>
</div>
	