<div ng-controller="SaveKnock as vm">
	<div class="container-fluid" style="padding-top: 60px">
		<div class="row med-row">
			<div class="col-md-4 col-md-offset-4">
				<button type="button" class="btn btn-lg btn-success btn-block med-button" ng-click="vm.saveKnock()"> {{ vm.rakeNumber }} <br/> Save Knock </button>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-md-offset-4">
					<span class="text-left">Touch a car to deselect</span>
				</div>
				<div class="col-md-2 text-right">
						<input id="selectCarToggle" type="checkbox" ng-click="vm.selectAll()"  
							data-toggle="toggle" 
							data-on="Select All"
							data-off="Unselect All"
							data-onstyle="info" 
							data-offstyle="danger">
						</input> 
				</div>
			</div>

			<div class="row med-small-row" ng-repeat="car in vm.carList" style="padding-top: 8px">
				<div class="col-md-4 col-md-offset-4">
					<div class="btn-group" style="width: 100%">
						<button type="button" class="btn btn-block med-small-button" ng-class="{'btn-primary btn-unselected': !car.selected, 'btn-primary': car.selected}" ng-click="car.selected = !car.selected">{{car.id}} <br/> position #{{car.rakePosition}}</button>
					</div>
				</div>
			</div>
	</div>

	<script type="text/ng-template" id="knockSaveMessage.html">
        <div class="modal-header">
            <h3 class="modal-title">{{vm.knockResult.title}}</h3>
        </div>
        <div class="modal-body">
           {{ vm.knockResult.message }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.goToMainPage()">OK</button>
        </div>
    </script>
</div>
