<div ng-controller="SaveKnock as vm">
	<div class="container-fluid" style="padding-top: 60px">
		<div class="row med-row">
			<div class="col-md-4 col-md-offset-4">
				<button type="button" class="btn btn-lg btn-success btn-block med-button" ng-text=""> {{ vm.rakeNumber }} <br/> Save Knock </button>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-md-offset-4">
					<span class="text-left">Touch a car to deselect</span>
				</div>
				<div class="col-md-2 text-right">
						<input id="selectCarToggle" type="checkbox" ng-click="vm.selectAll()"  
							data-toggle="toggle" 
							data-on="Select All"
							data-off="Unselect All"
							data-onstyle="info" 
							data-offstyle="danger">
						</input> 
				</div>
			</div>

			<div class="row" ng-repeat="car in vm.carList" style="padding-top: 5px">
				<div class="col-md-4 col-md-offset-4">
					<div class="btn-group" style="width:100%">
						<label class="btn btn-primary btn-block active" ng-class="{'btn-primary-border': !car.selected}" ng-model="car.selected" btn-checkbox>
							{{car.id}} @ position #{{car.rakePosition}}
						</label>
					</div>
				</div>
			</div>
	</div>
</div>
